
 #wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
  }
  #articles {
    display: inline-block;
    overflow: auto;
    width: 60%;
    height: 700px;
  }
  #notes {
    float: right;
    width: 30%;
  }
  textarea, input {
    display: block;
    width: 100%;
    background-color: #FCF5C7;
  }
  input {
    background-color: rgb(178, 226, 220);
    height: 36px;
    font-size: 24px;
  }
  textarea {
    background-color: rgb(178, 226, 220);
    height: 300px;
    font-size: 18px;
  }


.titlefont{
    font-family: 'Staatliches', cursive;
}

.titlesize{
    font-size: 10em;
}


 .font{
    font-family: 'Roboto', sans-serif;
 }

body, html {
    height: 100%;
    }

    
    